@charset "UTF-8";
/* Uploaded on: 24 Oct, 2017 - 4:26pm */
@import "https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600|Open+Sans:400,600,700";
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,600,700");


body {
  font-family: 'Lato', sans-serif;
  background: #fff;
  overflow-x: hidden;
}


a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
  color: #003783;
}


#header {
	z-index: 9999999999999;
	position: fixed;
	width: 100%;
	top: 0 !important;
}
#main .slider-wrapper{
	margin-top: 128px;
}
.center {
  width: 1280px;
  margin: 0 auto;
  position: relative;
}

#header .su {
  background: #fff;
  padding: 7px 0;
  height: 80px;
}

#header .su #drimer {
  z-index: 20;
  background: url(../images/drimer.png) -1px -1px no-repeat;
  width: 179px;
  height: 159px;
  position: absolute;
  top: -7px;
  left: 0;
  display: inline-block;
}
#drimer-movil{
	display: none;
}



#header .su .btn-cart {
  display: inline-block;
  cursor: pointer;
  width: 24px;
  position: relative;
  margin: 6px 15px 0 0;
  float: right;
}

#header .su .btn-cart .btn {
  background: none;
  padding: 0;
  text-shadow: none;
  border: 0;
}





#header .su .btn-cart .btn.carrito .fa {
  position: absolute;
  bottom: -17px;
  right: 36px;
  font-size: 24px;
  opacity: 0;
  display: none;
}


#header .su .btn-cart .info.vcenter p {
  position: relative;
}

#header .su .btn-cart .info.vcenter p.tit {
  margin: 0;
  font-weight: 400;
  font-size: 12px;
  color: #fff;
  position: absolute;
  top: 4px;
  left: 42px;
  display: none;
}

.conten-grid{
	display: flex;
	flex-direction: row-reverse;
}

.conten-grid .carrito{
	margin-top: 20px;
}

.conten-grid .carrito a{
	background: #66bbca;
	padding: 10px 18px;
	color: white;
	font-size: 16px;
	border-radius: 20px;
	font-weight: 800;

}
.conten-grid .carrito a img{
	position: relative;
	top: 5px;
}

#header .su .btn-cart .info.vcenter span {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 14px;
  color: #fff;
}

#header .su .btn-cart .info.vcenter span.num {
  position: absolute;
  top: 8px;
  left: 16px;
  background: #121f55;
  border-radius: 15px;
  width: 13px;
  height: 13px;
  font-size: 10px;
  text-align: center;
  line-height: 13px;
  z-index: 50;
  color: #fff;
}



.conten-grid .icon{
display: none;
}

#header .in {
  background: #003783;
  height: 50px;
}

#header .in #nav .category {
  padding: 0 0 0 166px;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  width: min-content;
  grid-gap: 37px;
}

#header .in #nav .category li {
  display: inline-block;
  line-height: 50px;
  padding: 0;
  text-align: center;
  position: relative;
  cursor: pointer;
  height: 51px;
  vertical-align: top;
}


#header .in #nav .category li a {
  color: #ffffff;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 700;
}

#header .in #nav .category li:hover:before {
    transition: all .25s ease-in-out;
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -ms-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    display: block;
    content: "";
    bottom: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 8px;
    background: #68b3bb;
  }
  
#header .in #nav .category li:nth-child(4){
  width: max-content;
}

#header .in #nav .category li:nth-child(7){
  width: max-content;
}

#header .in #nav .category li:nth-child(8){
  width: max-content;
}





*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/*==========================*/

.theme-mi-slider .nivoSlider{
	position:relative;
}


.theme-mi-slider .nivoSlider a {
	border:0;
	display:block;
}

/* Nivo Pagination =========================*/

.nivo-controlNav{
	display: flex;
	justify-content: center;
  position: relative;
    top: -55px;
    z-index: 15;
}

.theme-mi-slider .nivo-control{
	display: block;
	width: 18px;
	height: 18px;
	border-radius: 50%;
	background: #fff;
	margin: 3px;
	text-indent: -9999px
}

.theme-mi-slider .nivo-control:hover{
	background: #003783;
}

.theme-mi-slider .active{
	background: #003783;
}

/* Nivo direction ============*/
.nivo-directionNav a{
	display: block;
	width: 30px;
	height: 30px;
}

.nivo-directionNav .nivo-prevNav{
	background-image: url(../images/circle-left.png);
	background-size: cover;
	text-indent: -9999px;
	left: 100px;
}

.nivo-directionNav .nivo-nextNav{
	background-image: url(../images/circle-right.png);
	background-size: cover;
	text-indent: -9999px;
	right: 100px;
}

.blog-dos .box-post .post-content {
    padding: 0 14px;
    /* height: 30px; */
    margin-bottom: 0px;
}

.blog-dos .box-post .post-content .sub-post {
    background: #f0f4f8;
    opacity: 0.92;
    position: relative;
    top: 0px;
    width: 100%;
    /* padding: inherit; */
}

.blog-dos .box-post .title-post {
    /* padding: 10px 0px; */
    padding-top: 22px;
    padding-bottom: 13px;
    width: 100%;
    line-height: 33px;
    /* font-size: 20px; */
}

.blog-dos .box-post h2 {
    font-size: 20px;
    text-align: left;
    font-weight: bold;
    text-transform: uppercase;
}
.blog-dos .box-post {
    width: 400px;
    margin: 0 0 35px 0;
    /* -webkit-box-shadow: -1px 2px 5px 0px rgb(1 0 0 / 15%); */
    /* box-shadow: -1px 2px 5px 0px rgb(1 0 0 / 15%); */
    background: #f1f5f9;
}

.blog-dos .box-blog .filtro-blog {
    padding: 0 0 55px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.blog-dos .box-blog .filtro-blog h1 {
    font-weight: 700;
    font-size: 25px;
    color: #003783;
}

.box-img img{
	width: 100%;
}
/*Nivo Caption*/

.nivo-html-caption{
	position: absolute;
}
.conten-btn{
text-align: center;
margin: 55px;
}
.btn{

		display: inline-block;
		text-decoration: none;
		background-image: linear-gradient(45deg, #003783 0%, #003783 99%, #fad0c4 100%);
		padding: 13px 166px;
		border-radius: 3px;
		color: #fff;
		text-transform: uppercase;

}


.nivoSlider {
	position:relative;
	width:100%;
	height:auto;
	overflow: hidden;
}
.nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
	max-width: none;
}
.nivo-main-image {
	display: block !important;
	position: relative !important; 
	width: 100% !important;
}

/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	border:0;
	padding:0;
	margin:0;
	z-index:6;
	display:none;
	background:white; 
	filter:alpha(opacity=0); 
	opacity:0;
}
/* The slices and boxes in the Slider */
.nivo-slice {
	display:block;
	position:absolute;
	z-index:5;
	height:100%;
	top:0;
}
.nivo-box {
	display:block;
	position:absolute;
	z-index:5;
	overflow:hidden;
}
.nivo-box img { display:block; }

/* Caption styles */
.nivo-caption {
	position:absolute;
	top: 40%;
	left:0px;
	bottom:0px;
	font-family: sans-serif;
	text-align: center;
	color:#fff;
	width:100%;
	z-index:8;
	padding: 5px 10px;
	overflow: hidden;
	display: none;
}
.nivo-caption p {
	padding:5px;
	margin:0;
}
.nivo-caption a {
	display:inline !important;
}
.nivo-html-caption {
    display:none;
}
/* Direction nav styles (e.g. Next & Prev) */
.nivo-directionNav a {
	position:absolute;
	top:45%;
	z-index:9;
	cursor:pointer;
}
.nivo-prevNav {
	left:0px;
}
.nivo-nextNav {
	right:0px;
}
/* Control nav styles (e.g. 1,2,3...) */
.nivo-controlNav {
	text-align:center;
	padding: 15px 0;
}
.nivo-controlNav a {
	cursor:pointer;
}
.nivo-controlNav a.active {
	font-weight:bold;
}




.content-post { 
	/* display: -webkit-box; */
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-evenly;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}

@media only screen and (min-width: 680px) {
	.content-post {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-direction: row;
		flex-direction: row;
	}
  }

.box-post {
	width: 400px;
	margin: 0 0 35px 0;
	/* -webkit-box-shadow: -1px 2px 5px 0px rgba(1, 0, 0, 0.15); */
	/* box-shadow: -1px 2px 5px 0px rgba(1, 0, 0, 0.15); */
	background: white;
	}
 .box-post .post-content {
	padding: 0 22px;
	/* height: 30px; */
	margin-bottom: -140px;
	}
 
 .box-post .title-post {
	 /* padding: 10px 0px; */
	 padding-top: 22px;
	 padding-bottom: 13px;
	 width: 254px;
	 line-height: 33px;
	}

 .box-post h3 {
	 font-size: 13px;
	 color: #1cadc3;
	 font-family: 'Open Sans', sans-serif;
	 font-weight: 600;
	 padding: 0 0 10px 0;
    }
   .box-post h2 {
	   font-size: 25px;
	   font-weight: 400;
	   min-height: 68px;
	  }

   .box-post h2 a {
	   color: #003783;
	  }
   
  .box-post .text-post {
	  /* padding: 4px 0; */
	  padding-bottom: 60px;
	  margin: 0 0 10px 0;
	  }
  .box-post .text-post p {
	  font-size: 17px;
	  color: #737373;
   }
   
  .box-post .link-post {
	  padding: 8px 0 14px 0;
   
  }


  
  
  .blog .box-blog .filtro-blog {
    padding: 0 0 55px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  

  .blog .box-blog .filtro-blog h1{
    font-weight: 700;
    font-size: 25px;
    color: #003783;
  }


  .box-post .post-content .sub-post{
    background: #F1F5F9;
    opacity: 0.92;
    position: relative;
    top: -119px;
    width: 348px;
    padding: inherit;
  }

.box-post .title-post hr{
	/* margin: 12px; */
	background: #003783;
	width: 27px;
	height: 4px;
	margin-top: 8px;
}


.box-post .text-post #puntos-drimer{
  background-image: url(../images/punto.png);
  width: 28px;
  height: 28px;
  position: absolute;
  margin: 11px auto;
}





.contenedor,.wave-contenedor{
	width: 90%;
	max-width: 1336px;
	overflow: hidden;
	margin: auto;
	padding: 0 0 80px 0;
}

.wave-contenedor{
	width: 100%;
	 height: 626px; 
	    background-repeat: no-repeat;
    background-position: left;
}

.contenedor{
	padding: 80px 0;
}



.website{ 
	display: flex; 
	justify-content: end;
}
.website img{
	width: 48%;
}
.website .contenedor-textos-main{
	width: 39%;
}

.minicontenedor-texto .titulo{
	font-size: 25px;
	font-weight: 300;
	color: #003783;
	line-height: 30px;
}


.minicontenedor-texto{
	margin: 158px auto;
	padding: 27px 46px;
}

.minicontenedor-texto hr{
	background: #003783;
	width: 27px;
	height: 4px;
	margin-top: 8px;
}

.minicontenedor-texto .parrafo{
	font-size: 18px;
	font-weight: 300;
	color: #5b5b5b;
	padding: 14px 0;
	line-height: 27px;
}

.minicontenedor-texto .cta{
	display: inline-block;
	text-decoration: none;
	background-image: linear-gradient(45deg, #003783 0%, #003783 99%, #fad0c4 100%);
	padding: 13px 85px;
	border-radius: 3px;
	color: #fff;
}



@media only screen and (min-width: 680px){
.detalle-blog .box-banner a img {
    display: block;
    margin: 0 auto;
}

}
.detalle-blog .box-banner {
    height: auto;
    background-image: none;
    max-height: 400px;
    overflow: hidden;
}

.detalle-blog  .module.title {
    display: block;
}

/*------------------FOOTERR------------------------------------------------------*/


/* Code by CodingTuting.Com */

.breadcrumb {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0.75rem 1rem;
    margin-bottom: 1rem;
    list-style: none;
    background-color: #e9ecef;
    border-radius: 0.25rem;
}

.breadcrumb-single {
    padding-top: 25px;
    padding-bottom: 10px;
    background: #ffffff;
    border: 0;
    margin: auto 94px;
    padding: 15px 0;
    background: transparent;
    /* display: block; */
    border-bottom: 1px solid #b4bdc7;
}

.breadcrumb-single .breadcrumb {
    background: transparent;
    max-width: 1090px;
    margin: 0 auto !important;
}



.p-0 {
    padding: 0!important;
}

.breadcrumb-single .breadcrumb li a{
	font-size: 14px;
}

.breadcrumb-single .breadcrumb li::before{
    content:'/';
    display: inline-block;
    margin: 0 6px;
}

.breadcrumb-single .breadcrumb li:nth-child(1)::before{
    display: none;
}

.breadcrumb-single .breadcrumb>li:nth-child(1) a{
	color: #00378399;
	font-weight: 100;
}
.breadcrumb-single .breadcrumb>li:nth-child(1) a:hover{
	color:#003783;
}

.breadcrumb-single .breadcrumb>li:nth-child(2) a{
	color:#003783;
	/* font-size: 14px; */
}


.share{
	float: right;
	position: relative;
	top: -20px;
	list-style: none;
	display: flex;
	grid-gap: 11px;
}

.share li a{
	font-size: 14px;
}


.contenedor-tab{
	padding: 51px 174px;
}

@media only screen and (min-width: 680px){
.contenedor-tab .box-tab h3 {
    font-size: 34px;
}

}
.contenedor-tab .box-tab h3 {
    color: #003783;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 26px;
    text-align: center;
	text-transform: uppercase;
}

.contenedor-tab .box-tab h4 {
    color: #68b3bb;
    font-size: 20px;
    margin: 40px 0 0 0;
}

@media only screen and (min-width: 680px){
.contenedor-tab .box-tab p {
    font-size: 15px;
}
}
.contenedor-tab .box-tab p {
    font-size: 16px;
    color: #3f3f40;
    line-height: 30px;
    margin: 32px 0;
    text-align: center;
}

.contenido-1 img{
	width: -webkit-fill-available;
	height: 362px;
}

.content-iframe iframe {
    width: -webkit-fill-available;
    height: 402px;
}

.contenido-1:nth-child(2){
	padding-top: 60px;
}

.contenido-1:nth-child(3){
	padding-top: 60px;
}






.detalle-blog .galeria {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-gap: 17px;
  }
  @media (max-width: 1000px) {
	.detalle-blog .galeria {
	  grid-gap: 7px;
	}
  }
  .detalle-blog .galeria a {
	display: block;
	width: 100%;
	line-height: 0;
  }
  .detalle-blog .galeria a:first-child {
	grid-column: 1/span 5;
  }
  .detalle-blog .galeria a:nth-child(6) {
	position: relative;
  }
  .detalle-blog .galeria a:nth-child(6):before {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.44);
  }
  .detalle-blog .galeria a:nth-child(6):after {
	content: "+";
	font-size: 100PX;
	font-weight: 700;
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	text-align: center;
	margin: 0 auto;
	color: white;
  }
  .detalle-blog .galeria a img {
	width: 100%;
	line-height: 0;
  }

  .detalle-blog .galeria a .subimage{
	height: 157px;
  }







  .contenedor-tab .box-tab h3 hr{
	background: #003783;
	width: 27px;
	margin: auto;
	height: 4px;
	margin-top: 8px;
}

.sup{
	display: none;
}

  @media (max-width: 1310px) {
	#header .in #nav .category{
		grid-gap: 21px;
	}
  }

  @media (max-width: 1280px) {
	
	.center{
		width: 1150px;
	   }
}

@media (max-width: 1176px) {
		.center{
			width: 100%;
		   }
}

@media (max-width: 1066px) {
	#header .in #nav .category{
		grid-gap: 11px;
	}
  }

  @media (max-width: 1152px) {
	.contenedor-image{
			padding-bottom: 203px;
		}
	
		.contenedor,.wave-contenedor{
			overflow: visible;
		}
	
		.website .contenedor-textos-main{
			/* width: 39%; */
			width: max-content;
			/* display: contents; */
			position: relative;
			top: 76%;
		}
	
	}

  @media (max-width: 1000px) {
	.menu-overlay .in{
		display: none;
	}
	#main .slider-wrapper {
		margin-top: 0;
	}
	#header .su #drimer{
		display: none;
	}
	.conten-grid{
		display: grid;
		grid-template-columns: 10% 60% 30%;
	}
	.conten-grid .icon{
		display: block;
		margin: 20px auto;
	}


	.nivoSlider img{
		height: 500px;
	}

	.nivo-slice{
		display: none;
	}
	.nivo-box{
		display: none;
	}




  }

  @media (max-width: 780px) {

	.conten-grid {
		grid-template-columns: auto auto auto;
	}

	.conten-grid .carrito{
		margin: auto;
	}
	.contenedor-image{
		padding-bottom: 248px;
	}
  }
 

  @media (max-width: 384px) {

	.content-post{
		margin: 30px;
	}
	 .box-post img{
		 width: 324px;
		}
		.box-post .post-content .sub-post{
			width: 268px;
		}
		.box-post{
			width: 324px;
		}

		.blog-dos .content-post{
      margin: 0;
		}

		.blog-dos .box-post{
			width: 324px;
		}

		.blog-dos .box-post img{
			width: 324px;
		   }

		   
  }
  

  @media (max-width: 400px) {
	.blog .box-blog .filtro-blog{
		padding: 4px 26px 8px 20px;
	}
	.blog-dos .box-blog .filtro-blog{
		padding: 4px 26px 8px 20px;
	}
	.blog-dos .box-blog .filtro-blog h1 {
			
		font-size: 20px;
	}
	.blog-dos .box-post h2{
		font-size: 16px;
	}
	  }

	  @media (max-width: 1024px) {
		.contenedor-tab{
			padding: 37px 24px;
		}
		.nivo-directionNav{
			display:none;
		}

	
		  }

		  @media (max-width: 1024px) {
			.breadcrumb-single{
				display: none;
			}
			  }
		 
			  @media (max-width: 500px) {
				.contenedor-tab .box-tab h3{
					font-size: 18px;
				}
				.btn{
				    padding: 13px 23px;
					width: -webkit-fill-available;
				}
				.sup{
					z-index: 999;
					position: absolute;
					top: 65px;
					left: 0;
					width: min-content;
					margin: 55px;
					display: block;
					text-transform: uppercase;
					}

					.sup h2{
						font-weight: bolder;
						font-size: 38px;
						color: white;
						text-shadow: 2px 1px white;
					}
					.sup .btn {
						display: inline-block;
						text-decoration: none;
						background: transparent;
						border: 2px solid;
						border-radius: 3px;
						color: #fff;
						text-align: center;
						margin-top: 15px;
						text-transform: uppercase;
						padding: 13px 23px;
						width: -webkit-fill-available;
					}

			  }

			  @media (max-width: 350px) {
				.contenedor-tab .box-tab h3{
					font-size: 16px;
				}
			  }
			


			 
			  @media (max-width: 500px) {
				.icon {
					width: 40px;
					height: 28px;
					position: relative;
					cursor: pointer;
					display: inline-block;
					z-index: 100;
				  }
				  .icon span {
					background: #003783;
					display: block;
					position: absolute;
					height: 2px;
					-webkit-transform: rotate(0deg);
					-moz-transform: rotate(0deg);
					-o-transform: rotate(0deg);
					transform: rotate(0deg);
					-webkit-transition: all .25s cubic-bezier(0.22, 0.61, 0.36, 1);
					-moz-transition: all .25s cubic-bezier(0.22, 0.61, 0.36, 1);
					-o-transition: all .25s cubic-bezier(0.22, 0.61, 0.36, 1);
					transition: all .25s cubic-bezier(0.22, 0.61, 0.36, 1);
					opacity: 1;
					width: 100%;
					left: 0;
				  }
				  .icon span:nth-child(1) {
					top: 0px;
				  }
				  .icon span:nth-child(2) {
					top: 12px;
				  }
				  .icon span:nth-child(3) {
					top: 24px;
				  }
				  .icon.open span:nth-child(1) {
					top: 12px;
					-webkit-transform: rotate(135deg);
					-moz-transform: rotate(135deg);
					-o-transform: rotate(135deg);
					transform: rotate(135deg);
				  }
				  .icon.open span:nth-child(2) {
					opacity: 0;
					left: -60px;
				  }
				  .icon.open span:nth-child(3) {
					top: 12px;
					-webkit-transform: rotate(-135deg);
					-moz-transform: rotate(-135deg);
					-o-transform: rotate(-135deg);
					transform: rotate(-135deg);
				  }
				  .menu-overlay {
					position: fixed;
					left: 0;
					top: 0;
					width: 100%;
					height: 100%;
					 background-color: rgba(0,0,0,0.50);
					opacity: 0;
					visibility: visible;
					z-index: 99;
					cursor:pointer;
					-webkit-transition: visibility 0.5s ease, opacity 1s ease;
					-moz-transition: visibility 0.5s ease, opacity 1s ease;
					-o-transition: visibility 0.5s ease, opacity 1s ease;
					transition: visibility 0.5s ease, opacity 1s ease;
					}
				  .menu-overlay.open {
					opacity: 1;
					visibility: visible;
				  }
				 
				 

				  .open .in{
					display: block;
				}

				.open .menu{
					background-color: #fff;
					position: fixed;
					top: 0;
					left: 0;
					width: 80%;
					height: 100%;
					z-index: 99999;
					}
  
					#header .open .in #nav .category {
						grid-template-columns: auto;
						margin-right: 0;
						margin-left: -139px;
						margin-top: 84px;
						}
	 
					 #header .open .in #nav .category li{
					   /* border-bottom: 1px solid; */
					   margin-bottom: 1px;
					   text-align: center;
					   background: transparent;
					   border: 0;
					   margin: 7px;
					   padding: 18px 28px;
					   border-top: 1px solid #ccc;
					   }
   
					 #header .open .in #nav .category li a {
					 color: #003783;
				   }
   
				   #header .open .in #nav .category li:nth-child(4){
					   width:auto;
				   }
   
					#header .in {
					 background: transparent;
					 height: 50px;
				   }

				   #header .in #nav .category li:hover:before {
				    transition: all .25s ease-in-out;
				    -webkit-transition: all .25s ease-in-out;
				    -moz-transition: all .25s ease-in-out;
				    -ms-transition: all .25s ease-in-out;
				    -o-transition: all .25s ease-in-out;
				    display: block;
				    content: "";
				    bottom: -25px;
				    left: 0;
				    position: absolute;
				    width: 100%;
				    height: 8px;
				    background: #003783;
				  }

				  #header .su  #drimer-movil {
					z-index: 20;
					background: url(../images/drimer-logo-movil.png) -1px -1px no-repeat;
					width: -webkit-fill-available;
					height: -webkit-fill-available;
					position: absolute;
					top: 0px;
					left: 0;
					display: inline-block;
					}

				  .conten-grid{
					grid-gap: 5px;
				  }

				  .conten-grid .logo{
					position: relative;
					width: 78px;
					height: 70px;
				  }
				  .conten-grid .carrito a{
					font-size: 14px;
				  }
			  }

